http/pages/_components/_chat.html
<div class="app-sidebar-chats-container--chat"><img class="app-sidebar-chats-container-chat--picture" src="%picture"/><div class="app-sidebar-chats-container-chat--meta"><div class="app-sidebar-chats-container-chat-meta--name">%name</div><div class="app-sidebar-chats-container-chat-meta--message">%message</div></div><div class="app-sidebar-chats-container-chat--status"></div></div>

http/pages/_components/_chat.pug
.app-sidebar-chats-container--chat
    img(src='%picture').app-sidebar-chats-container-chat--picture
    .app-sidebar-chats-container-chat--meta
        .app-sidebar-chats-container-chat-meta--name %name
        .app-sidebar-chats-container-chat-meta--message %message
    .app-sidebar-chats-container-chat--status
