http/pages/_app.pug
.app
    .app--sidebar
        .app-sidebar--user
            img(src='#').app-sidebar-user--picture
            .app-sidebar-user--about
                .app-sidebar-user-about--name
                    span.app-sidebar-user-about-name--text

                    .app-sidebar-user-about-name--holder
                        img(hook='src::icon:arrowDown').app-sidebar-user-about-name-holder--icon

                        .app-sidebar-user-about-name-holder--tooltip
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--settings
                                img(hook='src::icon:settings')
                                | Settings
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--lock
                                img(hook='src::icon:lock')
                                | Lock
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--logout
                                img(hook='src::icon:logout')
                                | Logout
                .app-sidebar-user-about--id
                    span.app-sidebar-user-about-id--pre @
                    span.app-sidebar-user-about-id--text

        .app-sidebar--chats
            .app-sidebar-chats--header
                span.app-sidebar-chats-header--text CHATS
                | &nbsp; &mdash; &nbsp;
                span.app-sidebar-chats-header--count
            .app-sidebar-chats--container
        .app-sidebar--drag
    .app--chat
        .app-chat--header.-state--hidden
            .app-chat-header--user
                img(src='#').app-chat-header-user--picture
                .app-chat-header-user--name
                .app-chat-header-user--status
            .app-chat-header--options
        .app-chat--main
        .app-chat--write.-state--hidden
            .app-chat-write--attachment
            .app-chat-write--field
                textarea(rows='1' spellcheck='false' placeholder='Type something...').app-chat-write-field--value
                img(hook='src::icon:send').app-chat-write-field--send

http/pages/_app.html
<div class="app"><div class="app--sidebar"><div class="app-sidebar--user"><img class="app-sidebar-user--picture" src="#"/><div class="app-sidebar-user--about"><div class="app-sidebar-user-about--name"><span class="app-sidebar-user-about-name--text"></span><div class="app-sidebar-user-about-name--holder"><img class="app-sidebar-user-about-name-holder--icon" hook="src::icon:arrowDown"/><div class="app-sidebar-user-about-name-holder--tooltip"><div class="app-sidebar-user-about-name-holder-tooltip--button app-sidebar-user-about-name-holder-tooltip--settings"><img hook="src::icon:settings"/>Settings</div><div class="app-sidebar-user-about-name-holder-tooltip--button app-sidebar-user-about-name-holder-tooltip--lock"><img hook="src::icon:lock"/>Lock</div><div class="app-sidebar-user-about-name-holder-tooltip--button app-sidebar-user-about-name-holder-tooltip--logout"><img hook="src::icon:logout"/>Logout</div></div></div></div><div class="app-sidebar-user-about--id"><span class="app-sidebar-user-about-id--pre">@</span><span class="app-sidebar-user-about-id--text"></span></div></div></div><div class="app-sidebar--chats"><div class="app-sidebar-chats--header"><span class="app-sidebar-chats-header--text">CHATS</span>&nbsp; &mdash; &nbsp;<span class="app-sidebar-chats-header--count"></span></div><div class="app-sidebar-chats--container"></div></div><div class="app-sidebar--drag"></div></div><div class="app--chat"><div class="app-chat--header -state--hidden"><div class="app-chat-header--user"><img class="app-chat-header-user--picture" src="#"/><div class="app-chat-header-user--name"></div><div class="app-chat-header-user--status"></div></div><div class="app-chat-header--options"></div></div><div class="app-chat--main"></div><div class="app-chat--write -state--hidden"><div class="app-chat-write--attachment"></div><div class="app-chat-write--field"><textarea class="app-chat-write-field--value" rows="1" spellcheck="false" placeholder="Type something..."></textarea><img class="app-chat-write-field--send" hook="src::icon:send"/></div></div></div></div>
