http/pages/_authentication.pug
.authentication
    .authentication--main
        .authentication-main--logo
            img(hook='src::icon:pixel')
        h1.authentication-main--header Authentication
        h2.authentication-main--headerSmall Please login to access your account.
        .authentication-main--inputs
            .component--input
                .component-input--header
                    span.component-input-header--tag USERNAME
                    span.component-input-header--status
                input(type='text' spellcheck='false')
            .component--input
                .component-input--header
                    span.component-input-header--tag PASSWORD
                    span.component-input-header--status
                input(type='password' spellcheck='false')
            .component--switch
                label.component-switch--switch
                    input(type='checkbox' checked)
                    .component-switch--slider
                span.component-switch--text Stay signed in
        .component--button.-state--disabled
            a(href='#') Authenticate

    .authentication--footer
        a(href='#').authentication-footer--help Help
        a(href='privacy/').authentication-footer--privacy Privacy

http/pages/_authentication.html
<div class="authentication"><div class="authentication--main"><div class="authentication-main--logo"><img hook="src::icon:pixel"/></div><h1 class="authentication-main--header">Authentication</h1><h2 class="authentication-main--headerSmall">Please login to access your account.</h2><div class="authentication-main--inputs"><div class="component--input"><div class="component-input--header"><span class="component-input-header--tag">USERNAME</span><span class="component-input-header--status"></span></div><input type="text" spellcheck="false"/></div><div class="component--input"><div class="component-input--header"><span class="component-input-header--tag">PASSWORD</span><span class="component-input-header--status"></span></div><input type="password" spellcheck="false"/></div><div class="component--switch"><label class="component-switch--switch"><input type="checkbox" checked="checked"/><div class="component-switch--slider"></div></label><span class="component-switch--text">Stay signed in</span></div></div><div class="component--button -state--disabled"><a href="#">Authenticate</a></div></div><div class="authentication--footer"><a class="authentication-footer--help" href="#">Help</a><a class="authentication-footer--privacy" href="privacy/">Privacy</a></div></div>
