http/pages/_lock.pug
.authentication.locked
    .authentication--main
        .authentication-main--logo
            img(hook='src::icon:pixel')
        h1.authentication-main--header Account locked
        h2.authentication-main--headerSmall Please login to access your account.
        .authentication-main--inputs
            .component--input
                .component-input--header
                    span.component-input-header--tag PASSWORD
                    span.component-input-header--status
                input(type='password' spellcheck='false')
        .component--button.authentication-main--unlock.-state--disabled
            a(href='#') Unlock
        .component--link.authentication-main--logout.-state--red Not you?

    .authentication--footer
        a(href='#').authentication-footer--help Help
        a(href='privacy/').authentication-footer--privacy Privacy

http/pages/_lock.html
<div class="authentication locked"><div class="authentication--main"><div class="authentication-main--logo"><img hook="src::icon:pixel"/></div><h1 class="authentication-main--header">Account locked</h1><h2 class="authentication-main--headerSmall">Please login to access your account.</h2><div class="authentication-main--inputs"><div class="component--input"><div class="component-input--header"><span class="component-input-header--tag">PASSWORD</span><span class="component-input-header--status"></span></div><input type="password" spellcheck="false"/></div></div><div class="component--button authentication-main--unlock -state--disabled"><a href="#">Unlock</a></div><div class="component--link authentication-main--logout -state--red">Not you?</div></div><div class="authentication--footer"><a class="authentication-footer--help" href="#">Help</a><a class="authentication-footer--privacy" href="privacy/">Privacy</a></div></div>
