http/pages/_settings.html
<div class="settings"><div class="settings--categories"><h1 class="settings-categories--header">Settings</h1><div class="settings-categories--option"><img class="settings-categories-option--icon" src="#" hook="src::icon:settings:profile"/><div class="settings-categories-option--text"><span class="settings-categories-option-text--name">Profile</span><span class="settings-categories-option-text--description">Lorem ipsum dolor sit amet.</span></div></div><div class="settings-categories--option"><img class="settings-categories-option--icon" src="#" hook="src::icon:settings:app"/><div class="settings-categories-option--text"><span class="settings-categories-option-text--name">App</span><span class="settings-categories-option-text--description">Lorem ipsum dolor sit amet.</span></div></div></div><div class="settings--current"></div><img class="settings--close" src="#" hook="src::icon:close"/></div>

http/pages/_settings.pug
.settings
    .settings--categories
        h1.settings-categories--header Settings

        .settings-categories--option
            img(src='#' hook='src::icon:settings:profile').settings-categories-option--icon
            .settings-categories-option--text
                span.settings-categories-option-text--name Profile
                span.settings-categories-option-text--description Lorem ipsum dolor sit amet.
        .settings-categories--option
            img(src='#' hook='src::icon:settings:app').settings-categories-option--icon
            .settings-categories-option--text
                span.settings-categories-option-text--name App
                span.settings-categories-option-text--description Lorem ipsum dolor sit amet.
    .settings--current
    img(src='#' hook='src::icon:close').settings--close
