http/pages/_settings/_app.pug
h1.settings-current--header App

.settings-current--container
    .settings-current-container--changeImage
        img(src='#').settings-current-container-changeImage--image
        span.component--link Upload new image
        span.component--link.-state--red Delete

http/pages/_settings/_app.html
<h1 class="settings-current--header">App</h1><div class="settings-current--container"><div class="settings-current-container--changeImage"><img class="settings-current-container-changeImage--image" src="#"/><span class="component--link">Upload new image</span><span class="component--link -state--red">Delete</span></div></div>
