http/pages/_settings/_profile.html
<h1 class="settings-current--header">Profile</h1><div class="settings-current--container"><div class="settings-current-container--changeImage"><img class="settings-current-container-changeImage--image" src="#"/><span class="component--link settings-current-container-changeImage--upload">Upload new image</span><span class="component--link -state--red settings-current-container-changeImage--reset">Reset</span><input class="settings-current-container-changeImage--input -state--hidden" type="file"/></div><div class="component--input settings-current-container--username -state--disabled"><div class="component-input--header"><span class="component-input-header--tag">USERNAME</span><span class="component-input-header--status"></span></div><input type="text" spellcheck="false" readonly="readonly"/></div><div class="component--input settings-current-container--fullName"><div class="component-input--header"><span class="component-input-header--tag">FULL NAME</span><span class="component-input-header--status"></span></div><input type="text" spellcheck="false"/></div><div class="component--input settings-current-container--email"><div class="component-input--header"><span class="component-input-header--tag">E-MAIL ADDRESS</span><span class="component-input-header--status"></span></div><div class="component-input--alignCenter"><input type="email" spellcheck="false"/><span class="component--link settings-current-container-email-alignCenter--confirm">Confirm</span></div></div><div class="settings-current-container--recovery"><div class="component--link settings-current-container-recovery--changePassword">Change password</div><div class="component--link -state--red settings-current-container-recovery--changePassword">Delete this account</div></div></div>

http/pages/_settings/_profile.pug
h1.settings-current--header Profile

.settings-current--container
    .settings-current-container--changeImage
        img(src='#').settings-current-container-changeImage--image
        span.component--link.settings-current-container-changeImage--upload Upload new image
        span.component--link.-state--red.settings-current-container-changeImage--reset Reset
        input(type='file').settings-current-container-changeImage--input.-state--hidden
    .component--input.settings-current-container--username.-state--disabled
        .component-input--header
            span.component-input-header--tag USERNAME
            span.component-input-header--status
        input(type='text' spellcheck='false' readonly)
    .component--input.settings-current-container--fullName
        .component-input--header
            span.component-input-header--tag FULL NAME
            span.component-input-header--status
        input(type='text' spellcheck='false')
    .component--input.settings-current-container--email
        .component-input--header
            span.component-input-header--tag E-MAIL ADDRESS
            span.component-input-header--status
        .component-input--alignCenter
            input(type='email' spellcheck='false')
            span.component--link.settings-current-container-email-alignCenter--confirm Confirm
    .settings-current-container--recovery
        .component--link.settings-current-container-recovery--changePassword Change password
        .component--link.-state--red.settings-current-container-recovery--changePassword Delete this account
