http/pages/_components/_modals/_newChat.html
<p>Do you want to start a conversation with&nbsp;<b>%name&nbsp;</b>(%id)?</p><div class="component--inline"><div class="component--button -state--secondary modal-newChat--abort"><a href="#">Abort</a></div><div class="component--button modal-newChat--start"><a href="#">Start</a></div></div>

http/pages/_components/_modals/_newChat.pug
p Do you want to start a conversation with&nbsp;
    b %name&nbsp;
    | (%id)?
.component--inline
    .component--button.-state--secondary.modal-newChat--abort
        a(href='#') Abort
    .component--button.modal-newChat--start
        a(href='#') Start
