http/index.pug
doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title PIXEL Messenger
        meta(name='description' content='')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        hook(src='data.hook' version='version.hook')

        link(rel='icon' type='image/png' hook='href::icon:pixel' sizes='any')
        link(rel='stylesheet' type='text/css' hook='href::style:styles')
    body
        .curtain
            img(hook='src::icon:pixel')
        .render

        script(hook='src::js:vendor:onceupon')
        script(hook='src::js:vendor:socket')
        script(hook='src::js:vendor:formatdate')
        script(hook='src::js:vendor:cpimage')

        script(hook='src::js:render')
        script(hook='src::js:main')

        script(src='js/vendor/hooker.js')

http/index.html
<!DOCTYPE html><html class="no-js" lang=""><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>PIXEL Messenger</title><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><hook src="data.hook" version="version.hook"></hook><link rel="icon" type="image/png" hook="href::icon:pixel" sizes="any"><link rel="stylesheet" type="text/css" hook="href::style:styles"></head><body><div class="curtain"><img hook="src::icon:pixel"></div><div class="render"></div><script hook="src::js:vendor:onceupon"></script><script hook="src::js:vendor:socket"></script><script hook="src::js:vendor:formatdate"></script><script hook="src::js:vendor:cpimage"></script><script hook="src::js:render"></script><script hook="src::js:main"></script><script src="js/vendor/hooker.js"></script></body></html>
